.privacy-policy{
    background: linear-gradient(#00000045,#00000045),url('../Assets/img/privacy-policy.jpg');
    background-size:cover;
    background-position: center center;      
}

.privacy-content{
    padding:40px 0;
}
